.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  color: #FFFFFF;
}
.header__lang-link:hover{
  text-decoration-line: underline;
}
.header__lang-link:visited {
  text-decoration-line: underline;
}
@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
