.cover__title {
  max-width: 560px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  position: relative;
  color: #fff;
}
@media (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .cover__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}
