.footer {
  position: absolute;
  max-width: 1184px;
  padding: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  column-gap: 18px;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .footer {
    max-width: 100%;
    padding: 88px 24px 24px 24px;
  }
}
@media (max-width: 688px) {
  .footer {
    max-width: 186px;
    padding: 50px 118px 24px 16px;
    row-gap: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    padding: 64px 118px 24px 16px;
    row-gap: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}